
@font-face {
  font-family: 'AvenirArabic';
  src: url('https://cdn.jsdelivr.net/gh/Khalid2657/ove-font/alfont_com_AlFont_com_AvenirArabic-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
